@font-face {
  font-family: 'Montserrat-Regular';
  src: url('fonts/Montserrat-Regular.otf');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'BebasNeue Regular';
  src: url('fonts/BebasNeue Regular.otf');
}

body {
  padding-top: 30px;
  padding-bottom: 100px;
  padding-right: 0px !important;
  font-family: 'OpenSans-Regular';
}

.code-cl {
  height: 60vh;
  min-height: 500px;
}

.editor {
  width: 100%;

  &#code {
    height: 100%;
  }

  &#params {
    min-height: 100px;
    height: 38%;
  }

  &#result {
    min-height: 200px;
    height: 60%;
  }
}

.editor-container {
  position: relative;

  h4 {
    position: absolute;
    bottom: 5px;
    right: 30px;
    z-index: 2;
    color: rgba(255, 255, 255, 0.5);
  }
}

.navbar .btn-group {
  padding-top: 3px;
}

.navbar .form-inline {
  margin-bottom: 0px;
}

.title {
  margin-top: 10px;
}

.fa-spinner {
  animation: spin 2s linear infinite;

  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
}

#modalDocumentation .modal-body section {
  pre {
    padding: 10px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  }
}

.list-group-item {
  cursor: pointer;
}
